

<link rel="stylesheet" href="styles/clan.css">
<link rel="stylesheet" href="styles/globalRanking.css">
<div class="ranking-container">
  <div class="ranking-table">
    <div class="title">GLOBAL RANKING</div>
    <div class="header">
      <div>RANK</div>
      <div>USER</div>
      <div>SCORE</div>
    </div>
    <div ng-repeat="user in users" class="table-row">
        <p>{{user.ranking}}</p>
        <div class="nameAndImage">
          <img class="itemImg" src="../../images/profile_images/{{user.id}}.jpg"/>
          <p class="username-link" data-username="${u.username}">{{user.name}}</p>
        </div>
        <p>
          {{user.score}}
        </p>
    </div>
    <div id="pagination">
      <c:set var="actualPage" value="${pageNumber}"/>
      <c:if test="${actualPage > 1}">
        <div>
          <p id="prevPage"><< Previous</p>
        </div>
      </c:if>
      <c:if test="${globalRanking.totalPages > actualPage}">
        <div>
          <p id="nextPage">Next >></p>
        </div>
      </c:if>
    </div>
  </div>
</div>
