

<link rel="stylesheet" href="styles/clan.css">
<link rel="stylesheet" href="styles/globalRanking.css">
<div class="ranking-container">
  <div class="ranking-table">
    <div class="title">GLOBAL RANKING</div>
    <div class="header">
      <div>RANK</div>
      <div>USER</div>
      <div>SCORE</div>
    </div>
    <div ng-repeat="user in users" class="table-row">
        <p>{{$index+1 + (page-1)*10}}</p>
        <div class="nameAndImage">
          <img class="itemImg" src={{user.profile_image_url}}/>
          <p class="username-link" data-username="${u.username}">{{user.username}}</p>
        </div>
        <p>
          {{user.score}}
        </p>
    </div>
    <div id="pagination">
      <div ng-if="page != 1">
        <div>
          <p id="prevPage"><< Previous</p>
        </div>
      </div>
      <div ng-if="totalPages > page">
        <div>
          <p id="nextPage">Next >></p>
        </div>
      </div>
    </div>
  </div>
</div>
