
@font-face {
	font-family: Fixedsys;
	src: url('../fonts/FSEX300.ttf') format("truetype");;
}
.modal {
	overflow: visible !important;
}

ul {
	max-height: 20rem !important;
}

form label,
form input,
form button {
	border: 0;
	margin-bottom: 3px;
	display: block;
	width: 100%;
}
form input {
	height: 25px;
	line-height: 25px;
	background: #fff;
	color: #000;
	padding: 0 6px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
form button {
	height: 30px;
	line-height: 30px;
	background: #e67e22;
	color: #fff;
	margin-top: 10px;
	cursor: pointer;
}
form .error {
	color: #ff0000;
}

.upgradeButton.btn.waves-light {
	width: 100%;
	height: 100%;
	padding: 0;
}

img.resource-icon {
    height: 1.2rem;
    width: auto;
}

.marketButton {
	left: 25%;
}

body {
	font-family: Fixedsys;
	overflow-y: hidden;
	height: 100vh;
	min-width: 1200px;
	background-color: #DEDEDE;
}

div.factory-card-container {
	position: relative;
}

.no-margins {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.factory-consuming, .factory-producing{
    min-height: 6rem;
}

div.col.button-container {
	position: relative;
	padding: 0;
}

.card.factory-central-card {
    min-height: 24em;
}

div.upgrade-button-container{
	padding: 0.8rem;
}

div.box.black.upgradeDisability {
	position: absolute;
	width: 100%;
	height: 100%;
	color: black;
	opacity: 0.25;
	z-index: 2;
}

div.box.black.buyDisability {
	position: absolute;
	width: 33%;
	height: 100%;
	color: black;
	opacity: 0.25;
	z-index: 2;
}

div.box.black.canBuy {
	display: none;
}

div.scrollable-y {
	overflow-y: auto;
	height: 100vh;
	margin: 0;
}

div.buyFactorySection.col {
	padding-top: 0.5em;
}

div.buyFactorySection:hover {
	background-color: rgba(0, 0, 0, 0.18);
	cursor: pointer;
}

.main-frame.row {
	margin: 0;
}

p {
	font-size: 1rem
}

p.centered-text {
	text-align: center;
}

p.username {
	font-size: 1.2rem;
}

div.section {
	padding: 0;
}

div.divider {
	margin: 0.6rem;
}

div.no-padding {
	padding: 0;
}

.row.factory-card {
	margin: 0;
}

.card-image.profile-picture {
	max-width: 12rem;
}

.factory-main {
	max-width: 17rem;
}