.upgradeButton.btn.waves-light {
	width: 100%;
	height: 100%;
	padding: 0;
}

body {
	overflow: hidden;
}

div.factory-card-container {
	position: relative;
}

p.no-margins {
	margin: 0;
}

p.no-padding {
	padding: 0;
}

div.col.button-container {
	position: relative;
	padding: 0;
}

div.upgrade-button-container{
	padding: 0.8rem;
}

div.box.black.upgradeDisability {
	position: absolute;
	width: 100%;
	height: 100%;
	color: black;
	opacity: 0.25;
	z-index: 2;
}

div.box.black.buyDisability {
	position: absolute;
	width: 33%;
	height: 100%;
	color: black;
	opacity: 0.25;
	z-index: 2;
}

div.box.black.canBuy {
	display: none;
}

.scrollable-y {
	overflow-y: auto;
	height: 100vh;
	margin: 0;
}

div.buyFactorySection.col {
	padding-top: 0.5em;
}

div.buyFactorySection:hover {
	background-color: rgba(0, 0, 0, 0.18);
	cursor: pointer;
}

.main-frame.row {
	margin: 0;	
}

p {
	font-size: .7rem
}

p.centered-text {
	text-align: center;
}

p.username {
	font-size: 1.2rem;
}

div.section {
	padding: 0;
}

div.divider {
	margin: 0.6rem;
}

div.no-padding {
	padding: 0;
}

.row.factory-card {
	margin: 0;
}

.card-image.profile-picture {
	max-width: 12rem;
}

.factory-main {
	max-width: 17rem;
}