

<link rel="stylesheet" href="styles/clan.css">
<link rel="stylesheet" href="styles/globalRanking.css">
<div class="ranking-container">
  <div class="ranking-table">
    <div class="title">CLAN RANKING</div>
    <div class="header">
      <div>RANK</div>
      <div>CLAN</div>
      <div>SCORE</div>
    </div>
    <div ng-repeat="clan in clans" class="table-row">
        <p>{{$index+1 + (page-1)*itemsPerPage}}</p>
        <div class="nameAndImage">
          <img class="itemImg" src="{{clan.image_url}}"/>
          <p class="username-link" data-username="${c.name}">{{clan.name}}</p>
        </div>
        <p>
          {{clan.score}}
        </p>
    </div>
    <div id="pagination">
      <div ng-if="page != 1">
        <div class="changePageBtn">
          <a id="prevPage" ng-href="/#/clanRanking?page={{page-1}}"><< Previous</a>
        </div>
      </div>
      <div ng-if="totalPages > page">
        <div class="changePageBtn">
          <a id="nextPage" ng-href="/#/clanRanking?page={{page+1}}">Next >></a>
        </div>
      </div>
    </div>
  </div>
</div>
