
<link rel="stylesheet" href="styles/profile.css">
<div class="row no-margins canvas">
  <div class="left-section">
    <div class="main-user-properties">
      <div>
        <p id="username">{{user.username}}</p>
      </div>
      <div>
        <img class="profile-img" src="../../images/profile_images/0.jpg"/>
      </div>
      <div>
        <p id="score">
          SCORE: {{user.score}}
          <!--<script>document.write(abbreviateNumber(parseFloat(${user.score}), false));</script>-->
        </p>
      </div>
    </div>
    <div id="world-ranking">
      <p>
        World Ranking: #{{user.ranking}}
      </p>
    </div>

    <div ng-if="user.clan != null">
      <div id="group-info">
        <p class="subtitle">
          CLAN:
        </p>
        <br>
        <p href='/CLAN' id="clanLink" data-clanName="{{user.clan.name}}">
          {{user.clan.name}}
        </p>
      </div>
    </div>
  </div>

  <div class="right-section">
    <div class="unlocked-factories-section">
      <p class="title no-margins">
        UNLOCKED FACTORIES
      </p>
      <div class="unlocked-factory-cards">
        <div ng-repeat="factory in factories">
          <div ng-if="factory.amount != 0">
            <div class="unlocked-factory-card">
              <div>
                <p class="factory-card-title">
                  {{factory.type}}
                </p>
              </div>
              <div>
                <img class="factory-image" src="../../images/factory_images/{{factory.type_id}}.jpg"/>
              </div>
              <div>
                <p class="cant-factory no-margins">
                  x{{factory.amount}}
                  <!--<script>document.write(abbreviateNumber(parseFloat(${factory.amount}), false));</script>-->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="resources-section">
      <p class="title no-margins">
        RESOURCES
      </p>
      <div class="resources">
        <div ng-repeat="res in resources">
          <div class="resource">
            <div>
              <img class="resource-icon tooltipped" data-position="top" data-delay="50"
                   data-tooltip='{{res.name}}' src="../../images/resources_icon/{{res.id}}.png"/>
            </div>
            <div class="flex-left-text">
              <p>
                {{res.storage}} + {{res.production}}/s
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
